numpy==1.18.1
tqdm
sklearn
scikit-image==0.16.2
scikit-learn==0.22.2.post1
simpleitk==2.0.2
scipy
pydicom
opencv-python==4.2.0.32
timm==0.3.2
transformers==4.1.1 
albumentations==0.4.3
imgaug
Pillow
pretrainedmodels
efficientnet_pytorch

torch ==1.8.0 
torchvision==0.9.0
